
<h2>Firebase Authentication</h2>
<div id="userForms">
    <div>
        <h3>Sign In</h3>
        <input type="email" id="signInEmail" placeholder="Email">
        <input type="password" id="signInPassword" placeholder="Password">
        <button onclick="signIn(document.getElementById('signInEmail').value, document.getElementById('signInPassword').value)">Sign In</button>
    </div>
    <div>
        <h3>Sign Up</h3>
        <input type="email" id="signUpEmail" placeholder="Email">
        <input type="password" id="signUpPassword" placeholder="Password">
        <button onclick="signUp(document.getElementById('signUpEmail').value, document.getElementById('signUpPassword').value)">Sign Up</button>
    </div>
    <div>
        <button onclick="signOutUser()">Sign Out</button>
    </div>
</div>


<script src="./firebaseConfig.js" type="module"></script>
