<app-navbar></app-navbar>
<!-- Set styles dynamically based on Sparkasse -->
<div [ngClass]="dynamicClass">
  <div  class="container p-5">
    <h1 class="mb-3">Antrag auf Wohnungsbauprämie {{ jahr }}</h1>
    <h2 class="mb-2">für Bausparbeiträge (§ 2 Abs. 1 Nr. 1 WoPG)</h2>
    <p class="mb-4">
      Abgabe eines Antrags je Bausparkasse spätestens bis zum 31. Dezember {{ jahr + 2 }}
    </p>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Identifikationsnummer Section -->
      <fieldset class="mb-4">
        <legend>Identifikationsnummern</legend>
        <div class="row">
          <div class="col">
            <label for="taxID" class="form-label"
              >Identifikationsnummer Prämienberechtigte(r) *</label
            >
            <input
              type="text"
              class="form-control"
              id="taxID"
              formControlName="taxID"
            />
          </div>
          <div class="col">
            <label for="identifikationsnummerEhegatte" class="form-label"
              >Identifikationsnummer Ehegatte/Lebenspartner *</label
            >
            <input
              type="text"
              class="form-control"
              id="identifikationsnummerEhegatte"
              formControlName="identifikationsnummerEhegatte"
            />
          </div>
        </div>
      </fieldset>
      <!-- Personal Information Section -->
      <fieldset class="mb-4">
        <legend>I. Angaben zur Person</legend>
        <div class="row">
          <div class="col">
            <label for="familienname" class="form-label">Familienname *</label>
            <input
              type="text"
              class="form-control"
              id="familienname"
              formControlName="familienname"
            />
          </div>
          <div class="col">
            <label for="vorname" class="form-label">Vorname *</label>
            <input
              type="text"
              class="form-control"
              id="vorname"
              formControlName="vorname"
            />
          </div>
          <div class="col">
            <label for="geburtsdatum" class="form-label">Geburtsdatum *</label>
            <input
              type="date"
              class="form-control"
              id="geburtsdatum"
              formControlName="geburtsdatum"
            />
          </div>
        </div>
      </fieldset>
      <!-- Partner Information Section -->
      <fieldset class="mb-4">
        <legend>Ehegatte/Lebenspartner</legend>
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control"
              formControlName="partnerFamilienname"
              placeholder="Familienname"
            />
          </div>
          <div class="col">
            <input
              type="text"
              class="form-control"
              formControlName="partnerVorname"
              placeholder="Vorname"
            />
          </div>
          <div class="col">
            <input
              type="date"
              class="form-control"
              formControlName="partnerGeburtsdatum"
              placeholder="Geburtsdatum"
            />
          </div>
        </div>
      </fieldset>
      <!-- Residence Information Section -->
      <fieldset class="mb-4">
        <legend>
          Wohnsitz des/der Prämienberechtigten bei Antragstellung *
        </legend>
        <div class="row g-3">
          <div class="col-12">
            <label for="strasse" class="form-label">Straße</label>
            <input
              type="text"
              class="form-control"
              id="strasse"
              formControlName="strasse"
            />
          </div>
          <div class="col-12">
            <label for="hausnummer" class="form-label">Hausnummer</label>
            <input
              type="text"
              class="form-control"
              id="hausnummer"
              formControlName="hausnummer"
            />
          </div>
          <div class="col-md-6">
            <label for="stadt" class="form-label">Stadt</label>
            <input
              type="text"
              class="form-control"
              id="stadt"
              formControlName="stadt"
            />
          </div>
          <div class="col-md-4">
            <label for="bundesland" class="form-label">Bundesland</label>
            <select
              class="form-select"
              id="bundesland"
              formControlName="bundesland"
            >
              <option selected>Bitte wählen...</option>
              <option>Hessen</option>
              <option>Berlin</option>
              <option>Bayern</option>
              <option>Baden-Württemberg</option>
            </select>
          </div>
          <div class="col-md-2">
            <label for="postleitzahl" class="form-label">Postleitzahl</label>
            <input
              type="text"
              class="form-control"
              id="postleitzahl"
              formControlName="postleitzahl"
            />
          </div>
        </div>
      </fieldset>
      <!-- Claim Information Section -->
      <fieldset class="mb-4">
        <label for="familienstand" class="form-label">
          Für das Sparjahr 2022 besteht Anspruch auf Wohnungsbauprämie als
        </label>
      
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="familienstand"
            id="alleinstehend"
            formControlName="familienstand"
            value="alleinstehend"
          />
          <label class="form-check-label" for="alleinstehend">
            Alleinstehende(r)
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="familienstand"
            id="ehegatteLebenspartner"
            formControlName="familienstand"
            value="ehegatteLebenspartner"
            checked
          />
          <label class="form-check-label" for="ehegatteLebenspartner">
            Ehegatte/Lebenspartner
          </label>
        </div>
      </fieldset>
      
      <!-- Expenditure Information Section -->
      <fieldset class="mb-4">
        <legend>II. Aufwendungen, für die eine Prämie beantragt wird</legend>
        <p>
          <small
            >Für vermögenswirksame Leistungen, für die Anspruch auf
            Arbeitnehmer-Sparzulage besteht, wird keine Prämie gewährt.</small
          >
          <strong>③</strong>
        </p>
      </fieldset>
      <!-- Dynamic Forms Section -->
      <div formArrayName="dynamicForms">
        <div
          *ngFor="let dynamicForm of dynamicForms.controls; let i = index"
          [formGroupName]="i"
          class="mb-4"
        >
          <fieldset>
            <legend>Vertrag Nummer {{ i + 1 }}</legend>
            <div class="flex-row mb-3">
              <div class="row">
                <div class="col mb-3">
                  <label for="vertragsnummer-{{ i }}" class="form-label">
                    Vertragsnummer
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="vertragsnummer"
                    id="vertragsnummer-{{ i }}"
                    placeholder="Vertragsnummer"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="abschlussdatum-{{ i }}" class="form-label">
                    Abschlussdatum Monat/Jahr
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="abschlussdatum"
                    id="abschlussdatum-{{ i }}"
                    placeholder="Abschlussdatum"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="bausparsumme-{{ i }}" class="form-label">
                    Aufwendungen 2022 (ohne vermögenswirksame Leistungen) lt.
                    Kontoauszug
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="bausparsumme"
                    id="bausparsumme-{{ i }}"
                    placeholder="Aufwendungen 2022"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="bausparbeitrag-{{ i }}" class="form-label">
                    Aufwendungen 2022 (ohne vermögenswirksame Leistungen) lt.
                    Kontoauszug mit Prämienvormerkung
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="bausparbeitrag"
                    id="bausparbeitrag-{{ i }}"
                    placeholder="Aufwendungen 2022 Prämienvormerkung"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label for="hoechstbetrag-{{ i }}" class="form-label">
                    Bei Überschreitung des Höchstbetrags Prämiengewährung
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="hoechstbetrag"
                    id="hoechstbetrag-{{ i }}"
                    placeholder="Höchstbetrag Prämiengewährung"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col mb-3">
                  <label
                    for="vermoegenswirksameLeistungen-{{ i }}"
                    class="form-label"
                  >
                    nachrichtlich: vermögenswirksame Leistungen
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="vermoegenswirksameLeistungen"
                    id="vermoegenswirksameLeistungen-{{ i }}"
                    placeholder="vermögenswirksame Leistungen"
                  />
                </div>
              </div>
              <!--
              <div class="col-auto align-self-end">
                <button
                  type="button"
                  class="btn btn-danger me-2"
                  (click)="removeForm(i)"
                >
                  Vertrag entfernen
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="addForm()"
                >
                  Vertrag hinzufügen
                </button>
              </div>

              -->
            </div>
          </fieldset>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary">Absenden</button>
      </div>
    </form>
  </div>
</div>
