<app-navbar></app-navbar>
<div class="container p-5">
  <!-- Form and File Input -->
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-8 col-lg-6 col-xl-4">
      <!-- Form -->
      <form #form="ngForm" (ngSubmit)="fetchData()">
        <div class="mb-3">
          <label for="taxID" class="form-label">Enter Tax ID:</label>
          <input
            type="text"
            class="form-control"
            id="taxID"
            name="taxID"
            [(ngModel)]="taxID"
            placeholder="Enter Tax ID"
            required
            aria-required="true"
            #taxIDInput="ngModel"
          />
          <div *ngIf="taxIDInput.invalid && (taxIDInput.dirty || taxIDInput.touched)" class="text-danger mt-2">
            <div *ngIf="taxIDInput.errors?.['required']">Tax ID is required.</div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
          Download XML
        </button>
      </form>

      <!-- File Input and Upload Button -->
      <div class="mt-4">
        <label for="xmlFile" class="form-label">Upload XML File:</label>
        <div class="input-group">
          <input
            type="file"
            id="xmlFile"
            (change)="onFileSelected($event)"
            accept=".xml"
            class="form-control"
            #fileInput
          />
          <button
            class="btn btn-secondary"
            type="button"
            (click)="uploadFile()"
          >
            Upload
          </button>
        </div>
      </div>
    </div>
</div>
