<div [ngClass]="stylesService.getClass(formRetrievalComponent.superUserSparkasse)">
  <nav class="navbar custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img
          [src]="stylesService.getLogo(formRetrievalComponent.superUserSparkasse)"
          [alt]="formRetrievalComponent.superUserSparkasse || ''"
          height="24"
        />
      </a>
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="authService.logout()"
      >
        Abmelden
      </button>
    </div>
  </nav>
</div>
