.full-screen-container {
  padding-top: 20vh ;
  margin: 10px;
  box-sizing: border-box;

}
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  flex-direction: column; /* Stack buttons vertically */
}

.button-container {
  margin: 10px; /* Adds space between the buttons */
}

.space-below {
  margin-bottom: 200;
}

.submit-button-padding {
  padding-top: 10vh ;
  padding-bottom: 10vh ;
}

.wüstenrot {
  font-family: sans-serif;
  font-size: 15px;
}

.wüstenrot .btn {
  background: #f84914;
  color: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
}

.wüstenrot .form-control {
  border-color: #f84914;
}

.wüstenrot .form-select {
  border-color: #f84914;
}


.wüstenrot .form-check-input {
  background-color: #f84914;
  border-color: #f84914;

}

.wüstenrot .custom-navbar {
  background-color: #ffffff;
}








.schwäbischHall .btn {
  background: #e6002d;
  color: #fff;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: "Fuchs-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 40px;
  padding-right: 40px;

}

.schwäbischHall .form-control {
  border-color: #fff02d;
}

.schwäbischHall .form-select {
  border-color: #fff02d;
}


.schwäbischHall .form-check-input {
  
  background-color: #fff02d;
  border-color: #fff02d;

}

.schwäbischHall .custom-navbar {
  background-color: #fff02d;
}











.default-class {
  background: #f0f0f0;
  color: #000;
}
